<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[KH furniture]회원 가입</title>
</head>
<body>
    <h2>회원 정보 입력</h2>
    <form th:action="@{/customer/insert}" th:object="${member}" method="post">
        <div>
            <label for="userId">ID:</label>
            <input type="text" id="userId" th:field="*{userId}" />
        </div>
        <div>
            <label for="userPwd">PASSWORD:</label>
            <input type="text" id="userPwd" th:field="*{userPwd}" />
        </div>
        <div>
            <label for="userName">NAME:</label>
            <input type="text" id="userName" th:field="*{userName}" />
        </div>
        <div>
            <label for="phone">PHONE:</label>
            <input type="text" id="phone" th:field="*{phone}" />
        </div>
        <div>
            <label for="eMail">EMAIL:</label>
            <input type="text" id="eMail" th:field="*{eMail}" />
        </div>
        <div>
            <label for="address">ADDRESS:</label>
            <input type="text" id="address" th:field="*{address}" />
        </div>

        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>